*~
*.class
*.jar
*.war
/.lein-*
/.nrepl-port
/checkouts/
/classes/
/lib/
/target/
pom.xml
pom.xml.asc
/db/mdr2.db
/db/archive.db
/doc/css/
/doc/js/
/doc/mdr2*
/doc/index.html
/doc/state_diagram.png
/profiles.clj
/.descriptors/
/hornetq-data/
/src/mdr2/version.clj
