{:dummy true} ; just add something to the env so that cprop.core/load-config doesn't
              ; complain about an empty env when running in CI. See
              ; https://github.com/tolitius/cprop/issues/53
